{% load tags %}
<div class="board">
  {% for keycap in keycaps %}
    <button id="{{ keycap.code }}" class="keycap
            {% if forloop.counter in keys_l %}
            key-l
            {% elif forloop.counter in keys_m %}
            key-m
            {% elif forloop.counter in keys_xl %}
            key-xl
            {% elif forloop.counter == 54 %}
            key-alt
            {% elif forloop.counter in keys_xxl %}
            key-xxl
            {% endif %}
            f{{ keycap.finger }}
            ">
      {% for symbol in keycap.symbols.all %}
        <div class="symbol">{{ symbol.name }}</div>
      {% endfor %}
    </button>
  {% endfor %}
</div>